<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display</title>
</head>
<body>
    <div border="1">
        <table border="1">
                   
                    <tbody>
                            <tr>
                                <td><img src = "#" alt = "logo"></td>
                                <td> Name: {{name}} </br>
                                <td> Published: {{year}} </br>
                                <td> Name: {{year}} </br> 
                                <td> Name: {{user-rated}} </br> 
                                </td>
                                <td>{{ this.description }}</td>
                            </tr>
                        
                    </tbody>
                </table>

        <div>


        </div>
        <div>


        </div>


    </div>
</body>
</html>